@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


/* 
*{
	border:1px solid red;
} */
:root{
	--principal: #333;
	--accent: #ae2d59;
}


body {
	margin: 0;
	padding: 0;
	background-color: #F8F9FB;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: var(--principal);
	line-height: 2rem;
}



/*
*	Enlaces
*/
  a {
	position: relative;
	text-decoration: none;
	padding: 0.7rem 0.5rem;
	color: var(--principal);
}

a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 2px;
	background-color: var(--accent);
	bottom: 0;
	left: 0;
	transform-origin: center;
	transform: scaleX(0);
	transition: transform .2s ease-in-out;
}

a:hover::before {
	transform: scaleX(1);
}



/* The progress container (grey background) */
.progress-container {
	width: 100%;
	background: #F8F9FB;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
	height: 2px;
	background: var(--accent);
	width: 0%;
  }


/*
	Sección header
*/

header {
	background: #F8F9FB;
	width: 100vw;
	position: fixed;
	z-index: 1000;
}

@media only screen and (max-width: 600px) {
	header {
		position: absolute;
	}
}

header .nav-wrapper {
	float: right;
	margin-right: 5rem;
}

nav {
	height: 5rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
}

@media only screen and (max-width: 600px) {
	nav {
		max-width: 100%;
		justify-content: center;
		height: auto;
	}
}

nav i {
	font-size: 1rem;
	padding-right:0.4rem ;
	color:var(--accent)
}

.link-item {

	margin-right: 1rem;
	text-decoration: none;
	font-size: 1rem;
}

@media only screen and (max-width: 600px) {
	.link-item {
		width: calc(100% - 2rem);
		/* display: none; */
	}
}

header .logo-wrapper {
	height: 5rem;
	float: left;
	margin-left: 5rem;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	header .logo-wrapper {
		align-items: center;
		justify-content: center;
		float: none;
		margin: auto
	}
}

header .logo-wrapper a{
	padding:0;
	background: none;
}

header .logo-wrapper img {
	width: 20rem;
	height: auto;
}

li {
	list-style-type: none;
}




/*
	https://www.developerdrive.com/full-page-hero-image-html-css/
	Sección HERO
*/

.hero {

	position: relative;
	width: calc(100vw-50px);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: url(/images/forrest.jpg); */
	/* background: url(/images/olive.jpg); */
	 /* background: url(/images/red.jpg);  */
	 background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .7)), url('images/red.jpg'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(140%);
}



.hero-section-content {
	position: relative;
	font-family: "Montserrat", sans-serif;
	color: white;
	text-align: center;
	margin: 0.625rem;

}

.hero-title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 0;
}

.hero-subtitle {
	font-size: 2rem;
	font-weight: 300;
	margin-top: 1rem;
	margin-bottom: 5rem;
}

.hero-button {

	background-color: transparent;
	color: white;
	border: 3px solid var(--accent);
	border-radius: 5px;

	padding: 0.9375rem 1.875rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125rem;
	font-weight: 600;
	cursor: pointer;
}

.hero-button:hover {
	background-color: var(--accent);
	border: 3px solid var(--accent);
}

.hero-link {
	padding: 0.9375rem 1.875rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125rem;
	font-weight: 600;
	color: white;
}



/*
* Secciones
*
*
*/



section .section-content {

	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin:5rem 0;
}

section .section-title{
	font-weight: 300;
	font-size: 1.5rem;
	float: left;
	margin-top:5rem;
	padding-left: 5rem;
}

section .section-title span{
	color:var(--accent);
}


section .section-content article {
	border: 0px solid var(--accent);
	border-radius: 1rem;
	padding: .5rem;
	width: 45%;
	max-width: 800px;
	text-align: center;
	

}

section .section-content article h3 {
	font-weight: 500;
	font-size: 2rem;
}

section .section-content article h3 > i {
	font-size: 2.3rem;
	display: block;
	margin-bottom: 1rem;
}



section .section-content article img
{
	
	width: 100%;
	height:auto;
}


section .section-content article > .img-wrapper {

	position: relative;
    overflow: hidden;
}

section .section-content article > .img-wrapper > img,
section .section-content article > .img-wrapper > picture {
	display: block;
    transition: .5s ease-in-out;
}

section .section-content article > .img-wrapper:hover > img, 
section .section-content article > .img-wrapper:hover > picture {
	transform: scale(1.1);
} 


section .section-content article p {
	text-align: justify;
	width: 100%;
}

section .section-content article li {
	text-align: left;
}

section .section-content article li::before{
	color:var(--accent);
	content:'▸';
	padding-right: 0.9rem;
	margin-left: -1.8rem;
}

section .section-content article a {
	color: var(--accent);
	text-align: left;
	float: right;
}

@media only screen and (max-width: 600px) {
	section .section-content article {
		width: 100vw;
	}
}



address p > i {
	font-size: 1.2rem;
	margin-right: 1rem;
	color:var(--accent)
}


footer{

	background-color: var(--principal);;
	color:white;
	text-align: center;
}